<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>

<div class="container-fluid">
<div style="color: blue;">
  <h1>{{ title }}</h1>
  <h3>{{ description }}</h3>
</div>

<div style="width: 300px">
<form (ngSubmit)="onSubmit()">
<div class="form-group">
  <label for="name">Name:</label>
  <input type="text" class="form-control" placeholder="Enter Name...." id="name" required [(ngModel)]="itemValue" name="name">
</div>
<div class="btn-group">
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
</div>


<h2>Content From Firebase</h2>
<div class="col-md-3">
  <pre *ngFor="let member of members | async">{{member.name}}</pre>
  <!-- <pre *ngFor="let item of items">{{item.content}}</pre> -->
</div>
</div>

<h3>I'm in the component</h3>
<app-server></app-server>